:host {
  background-color: #46c93d;

  display: flex;
  flex-direction: column;
}

#header-content {
  vertical-align: middle;
  line-height: 1;
  height: 56px;

  display: flex;

  font-size: 24px;

  align-items: center;
}

.menu-icon {
  padding-right: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}
