:host {
  margin: 20px;

  display: flex;
  flex-direction: column;

  flex: 1 1 auto;

  justify-content: stretch;
}

.camp-content {
  display: flex;
  flex-direction: column;

  flex: 1 1 auto;

  justify-content: stretch;
}
