/*:host {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}
*/

:host {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  overflow: hidden;
}

.sidebar {
  width: 250px;
  min-width: 250px;
  max-width: 2500px;

  box-shadow: 3px 0px 5px rgba(0, 0, 0, 0.25);

  background-color: #3d46c9;

  z-index: 20;
  display: flex;
  flex-flow: column nowrap;
}

.content {
  align-self: auto;
  min-width: 0px;
  min-height: auto;
  max-height: 100%;
  overflow: hidden;
  flex: 1 1 auto;
  order: 2;
  display: flex;
  flex-flow: column nowrap;
}
