/*:host {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}
*/

:host {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  overflow: hidden;
}

mat-toolbar {
  height: 64px;
  z-index: 16;
  position: relative;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);

  background-color: #46c93d;
}
