:host {
  width: 300px;
  min-width: 300px;
  max-width: 300px;

  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.25);

  background-color: #3d46c9;

  z-index: 20;
  display: flex;
  flex-flow: column nowrap;

  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

:host.closed {
  margin-left: -300px;
}
