:host {
  margin: 20px;

  display: flex;
  flex-direction: column;

  flex: 1 1 auto;

  justify-content: stretch;
}

.content {
  display: flex;
  flex-direction: column;

  flex: 1 1 auto;

  justify-content: stretch;
}

.content > *:first-child {
  margin-top: 0px;
}

.content > * {
  margin: 10px 0px;
}
