body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;

  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  align-content: stretch;
  align-items: stretch;
}

#page {
  background-color: #f4f5f5;
  position: relative;
  overflow: hidden;
  display: flex;
  flex: 1 1 auto;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}

#sidebar {
  width: 300px;
  min-width: 300px;
  max-width: 300px;

  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.25);

  background-color: #3d46c9;

  z-index: 20;
  display: flex;
  flex-flow: column nowrap;

  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#sidebar.closed {
  margin-left: -300px;
}

#content-wrapper {
  align-self: auto;
  min-width: 0px;
  min-height: auto;
  max-height: 100%;
  overflow: hidden;
  flex: 1 1 auto;
  order: 2;
  display: flex;
  flex-flow: column nowrap;
}

#header {
  height: 72px;
  z-index: 16;
  position: relative;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);

  background-color: #46c93d;
}

#status-bar {
  height: 16px;
  z-index: 16;
  position: relative;

  background-color: #00a900;
}

#header-content {
  vertical-align: middle;
  line-height: 1;
  height: 56px;

  display: flex;

  font-size: 24px;

  align-items: center;
}

#content {
  display: block;
  margin-left: 0px;
  position: relative;
  padding: 0px;
  overflow-y: scroll;
  min-height: auto;
  max-height: 100%;
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 0;

  background-color: #dddddd;
}
